.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logo p {
  color: #383838;
  font-size: 37px;
  font-weight: 700;
}
.footer-links {
  display: flex;
  gap: 40px;
  list-style-type: none;
  color: #252525;
  font-size: 18px;
}
.footer-links li {
  cursor: pointer;
}

.footer-social-icon {
  display: flex;
  gap: 28px;
}
.footer-icons-container {
  padding: 6px;
  padding-bottom: 4px;
  background: #fbfbfb;
  border: 1px solid #d6d2d2;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 20px;
  color: #1a1a1a;
  font-size: 18px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 8px;
  height: 2px;
  background: #c7c7c7;
}
